body
{
  background-color: #222831;

}

#Register
{
  background-color: #222831;
  padding: 8.6% 15%;
  color: #fff;
  font-family: 'Montaga', serif;
}

.con
{
  padding-left: 0%;
  text-align: left;
}

#ali
{
  background-color: #000;
}
